.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffffe0;
    width: 9em;
    height: 3em;
    margin: 0 auto;
    border-radius: 30em;
    font-size: 15px;
    cursor:pointer;
    font-family: monospace;
    border: none;
    position: relative;
    z-index: 1;
    box-shadow: 7px 7px 16px #c5c5c5 ;
}

.btn::before {
    content: '';
  
    width: 0%;
    height: 100%;
    margin: 0 auto;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #7cfc00 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
    animation: glowing1 2s linear infinite;
    opacity: 0;
}

.btn:hover::before {
    opacity: 1;
    width:100%;
}

@keyframes glowing1 {
    0% {
      box-shadow: 0 0 5px #0fd850;
    }
    50% {
      box-shadow: 0 0 20px #f9f047;
    }
    100% {
      box-shadow: 0 0 5px #0fd850;
    }
}
