RewriteEngine On
RewriteRule ^Introduction$ Content.php?value=Introduction [QSA,L]
RewriteRule ^BODMAS$ Content.php?value=BODMAS [QSA,L]
RewriteRule ^BasicTricks$ Content.php?value=BasicTricks [QSA,L]
RewriteRule ^Decimals$ Content.php?value=Decimals [QSA,L]
RewriteRule ^FactorsMultiples$ Content.php?value=FactorsMultiples [QSA,L]
RewriteRule ^LCMHCM$ Content.php?value=LCMHCM [QSA,L]
RewriteRule ^Average$ Content.php?value=Average [QSA,L]
RewriteRule ^Percentage$ Content.php?value=Percentage [QSA,L]
RewriteRule ^Integers$ Content.php?value=Integers [QSA,L]
RewriteRule ^NumberSystem$ Content.php?value=NumberSystem [QSA,L]
RewriteRule ^Simplification$ Content.php?value=Simplification [QSA,L]
RewriteRule ^RatioProportion$ Content.php?value=RatioProportion [QSA,L]
RewriteRule ^MixtureAlligation$ Content.php?value=MixtureAlligation [QSA,L]
RewriteRule ^ProfitLoss$ Content.php?value=ProfitLoss [QSA,L]
RewriteRule ^SimpleInterest$ Content.php?value=SimpleInterest [QSA,L]
RewriteRule ^CompoundInterest$ Content.php?value=CompoundInterest [QSA,L]
RewriteRule ^Partnership$ Content.php?value=Partnership [QSA,L]
RewriteRule ^ProblemsonAge$ Content.php?value=ProblemsonAge [QSA,L]
RewriteRule ^TimeWork$ Content.php?value=TimeWork [QSA,L]
RewriteRule ^PipesCisterns$ Content.php?value=PipesCisterns [QSA,L]
RewriteRule ^SpeedDistanceTime$ Content.php?value=SpeedDistanceTime [QSA,L]
RewriteRule ^BoatsStrems$ Content.php?value=BoatsStrems [QSA,L]
